body {
    background-color: seagreen;
    font: normal 15pt Arial;
}

header {
    color: whitesmoke;
    text-align: center;
}

section {
    background-color: whitesmoke;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}

div {
    text-align: center;
}

#txtn::placeholder {
    text-align: center;
}

footer {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}